*, .login, .signup{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
}
/*NAV*/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo img{
    width: 35px;
}
/*BUTTONS*/
.btn , .login, .signup {
    padding: 0.6rem 1.4rem;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn:hover, .login, .signup{
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.primary{
    background: #00e5ff;
    color: #fff;
}
.danger{
    background: #ff4d4d;
    color: #fff;
    width: 30%;
    border-radius: 3px;
}
/*HERO*/
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 2rem;
}
/*TODO CARD*/
.todo-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.todo-card{
    background: #fff;
    color: #000;
    width: 500px;
    padding: 2rem;
    border-radius: 18px;
    animation: fadeIn 0.5s ease;
  overflow: auto;
  text-overflow: ellipsis
}
.add-task input{
width: 100%;
padding: 0.7rem;
border-radius: 20px;
border: 1px solid #ccc;
margin-bottom: 1rem;
}
/*TASK ITEM*/
#taskList li{
    background: #f3f3f3;
    margin: 0.5rem 0;
    padding: 0.6rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    animation: slideIn 0.3s ease;
}
/*ANIMATION*/
@keyframes fadeIn{
    from{
        opacity: o; transform: scale(0.95);
    }
    to{
        opacity: 1; transform: scale(1);
    }
}
@keyframes slideIn{
    from{
        opacity: 0; transform: translateX(-10px);
    }
    to{
        opacity: 1; transform: translateX(0);
    }
}
.hero img{
    width: 80%;
}
footer{
    background: rgba(15, 23, 42, 0.95);
    color: white;
    text-align: center;
    padding: 20px;
}
nav, a{
    color: #e0f2fe;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
}
